{% assign has_course_links = false %}
{% for resource in include.links %}
  {% if resource.url != blank and resource.label != blank %}
    {% assign has_course_links = true %}
  {% endif %}
{% endfor %}
{% if has_course_links %}
<ul class="course-links">
  {% for resource in include.links %}
    {% if resource.url != blank and resource.label != blank %}
      {% assign first_character = resource.url | slice: 0 %}
      {% assign resource_url = resource.url %}
      {% if first_character == '/' %}{% assign resource_url = resource.url | relative_url %}{% endif %}
      <li><a href="{{ resource_url | escape }}">{{ resource.label | escape }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
