          <div class="news">
            {% if page.url != "/news/" %}
            <h2 class="section-header">latest news <a href="news/" style="font-weight: 400; font-size: 0.8rem;">[see all]</a></h2>
            {% else %}
            <h2 class="section-header">all news</h2>
            {% endif %}
            {% if site.news != blank -%}
            {%- assign news_size = site.news | size -%}
            {%- assign news = site.news | reverse -%}
            {% if page.url == "/news/" %}
              {% assign news_limit = news_size %}
            {% else %}
              {% assign news_limit = 5 %}
            {% endif %}
            <div class="news-list">
              {% for item in news limit: news_limit %}
                <div class="news-entry">
                  <span class="news-date">{{ item.date | date: "%m/%Y" }}</span>
                  <span class="news-content">
                    {% if item.inline -%}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}
                  </span>
                </div>
              {%- endfor %}
            </div>
          {%- else -%}
            <p>No news so far...</p>
          {%- endif %}
          </div>
