          <div class="publications">
            <h2 class="section-header">selected publications <a href="publications/" style="font-weight: 400; font-size: 0.8rem;">[see all]</a></h2>
            
            <div class="publication-tags">
              <a href="#" class="btn btn-sm active" role="button" data-tag="all">All</a>
              {% assign tags = site.data.publication_tags %}
              {% for tag in tags %}
                <a href="#{{ tag.tag }}" class="btn btn-sm" role="button" data-tag="{{ tag.tag }}">{{ tag.name }}</a>
              {% endfor %}
            </div>

            {% bibliography -f papers -q @*[selected=true]* %}
          </div>
