/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #{$bg-color-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$text-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.1);
  --global-card-bg-color: #{$bg-color-light};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$bg-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$text-color-dark};
  --global-text-color-light: #{$text-color-dark-muted};
  --global-theme-color: #{$cyan-color-dark};
  --global-hover-color: #{$cyan-color-dark};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$text-color-dark-muted};
  --global-footer-link-color: #{$text-color-dark};
  --global-distill-app-color: #{$text-color-dark-muted};
  --global-divider-color: #{$divider-color-dark};
  --global-card-bg-color: #{$bg-color-dark};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
