<div class="cv-time-table">
    {% for content in entry.contents %}
      <div class="cv-entry">
        <div class="cv-entry-inner">
          {% if content.year %}
            <div class="cv-year">{{ content.year }}</div>
          {% endif %}
          <div class="cv-details">
            {% if content.title %}
            <div class="cv-title">{{content.title}}</div>
            {% endif %}
            {% if content.institution %}
            <div class="cv-institution">{{content.institution}}</div>
            {% endif %}
            {% if content.description %}
              <ul class="cv-items">
                {% for item in content.description %}
                  <li>
                    {% if item.contents %}
                      <span class="item-title">{{ item.title }}</span>
                      <ul class="cv-subitems">
                      {% for subitem in item.contents %}
                        <li>{{ subitem }}</li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      {{ item }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if content.items %}
              <ul class="cv-items">
                {% for item in content.items %}
                  <li>
                    {% if item.contents %}
                      <span class="item-title">{{ item.title }}</span>
                      <ul class="cv-subitems">
                      {% for subitem in item.contents %}
                        <li>{{ subitem }}</li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      {{ item }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
