---
layout: default
---

<div class="post">

  <div class="header-bar">
    <h1><i class="fas fa-calendar fa-sm"></i> {{ page.date | date: "%Y" }}</h1>
    <h2>posts from this year</h2>
  </div>

  <article>
    <div class="post-list">
      {% for post in page.posts %}
      {% if post.hidden != true %}
      <div class="post-preview">
        <h3 class="post-title-link">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </h3>
        <p class="post-meta">
          {{ post.date | date: "%b %-d, %Y" }}
          {% if post.description %} · {{ post.description }}{% endif %}
        </p>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </article>

</div>
