---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <div class="header-bar">
            <h1>cv</h1>
          </div>

          <article>
            <div class="cv">
              {% for entry in site.data.cv %}
                <div class="{% if forloop.first %}mt-0{% else %}mt-4{% endif %}">
                  <h3 class="section-header">{{ entry.title }}</h3>
                  <div>
                  {% if entry.type == "list" %}
                    {% include cv/list.html %}
                  {% elsif entry.type == "map" %}
                    {% include cv/map.html %}
                  {% elsif entry.type == "nested_list" %}
                    {% include cv/nested_list.html %}
                  {% elsif entry.type == "time_table" %}
                   {% include cv/time_table.html %}
                  {% else %}
                    {{ entry.contents }}
                  {% endif %}
                  </div>
                </div>
              {% endfor %}
              </div>
          </article>

        </div>
