---
layout: default
---
<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%B %-d, %Y" }}
      {%- if page.author %} · {{ page.author }}{% endif -%}
      {%- if page.meta %} · {{ page.meta }}{% endif -%}
      {%- if tags != "" %}
        · {% for tag in page.tags -%}
        <a class="tag" href="{{ tag | slugify | prepend: '/blog/tag/' | prepend: site.baseurl}}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
        {%- endfor %}
      {% endif -%}
      {%- if categories != "" %}
        · {% for category in page.categories -%}
        <a class="tag" href="{{ category | slugify | prepend: '/blog/category/' | prepend: site.baseurl}}">{{ category }}</a>{% unless forloop.last %} {% endunless %}
        {%- endfor %}
      {% endif -%}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {%- if site.disqus_shortname and page.disqus_comments -%}
    {% include disqus.html %}
  {%- endif %}
  {%- if site.giscus.repo and page.giscus_comments -%}
    {% include giscus.html %}
  {%- endif -%}

</div>
